<div class="viewWrapper height100">
    <div class="height100 pcViewFirst">
        <div class="logoBox">
            <img class="logo" src="{{viewData.Icon}}" alt="">
            <div id="code" class="erWeiMa"></div>
            <!--<img class="erWeiMa" src="image/erweima.png" alt="">-->
        </div>
        <div class="t_a_c">
            <div class="appName title_color" ng-bind="viewData.AppName"></div>
            <div class="c_B3 m_b_1">扫描二维码下载</div>
            <div class="c_B3">或用手机浏览器输入这个网址: <span ng-bind="url"></span></div>
        </div>

        <div class="versionsWrapper versionsWrapperW_pc">
            <div class="versionsBox versionsBoxLeft">
                <i class="fa fa-android fa-3x"></i>&nbsp;&nbsp;
                <a ng-click="pcDowmload(AndroidVersion.DownloadUrl)" href="javascript:;" style="text-decoration: none;display:inline-block;margin:auto 5px;background: #26A69A;font-size: 12px;-webkit-transform-origin-x: 0;-webkit-transform: scale(1);color: #FFFFFF;width: 60px;height: 20px;line-height:20px;border-radius: 5px;text-align: center;">
                    下载地址
                </a>
                <div class="version c_B3">最新版本：<span ng-bind="AndroidVersion.VersionNumber"></span>&nbsp;-&nbsp;<span
                        ng-bind="iOSVersion.PackageSize"></span></div>
                <div class="c_B3">发布时间：<span ng-bind="AndroidVersion.CreateDate|date : 'yyyy-MM-dd HH:mm:ss'"></span>
                </div>
                <div ng-if="AndroidVersion.UpgradeContent!=''&&AndroidVersion.UpgradeContent!=null&&AndroidVersion.UpgradeContent!=undefined"
                     class="upgradeContentBox">
                    <div class="title_color upgradeTitle">更新日志</div>
                    <pre class="c_B3" ng-bind="AndroidVersion.UpgradeContent">
                    </pre>
                </div>
            </div>
            <div class="versionsBox">
                <i class="fa fa-apple fa-3x"></i>
                <div class="version c_B3">最新版本：<span ng-bind="iOSVersion.VersionNumber"></span>&nbsp;-&nbsp;<span
                        ng-bind="iOSVersion.PackageSize"></span></div>
                <div class="c_B3">发布时间：<span ng-bind="iOSVersion.CreateDate|date : 'yyyy-MM-dd HH:mm:ss'"></span></div>
                <div ng-if="AndroidVersion.UpgradeContent!=''&&AndroidVersion.UpgradeContent!=null&&AndroidVersion.UpgradeContent!=undefined"
                     class="upgradeContentBox">
                    <div class="title_color upgradeTitle">更新日志</div>
                    <pre class="c_B3" ng-bind="AndroidVersion.UpgradeContent">
                    </pre>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--<hr style="margin: -5em auto 2em;">-->
    <div class="appDescription_pc"
         ng-if="viewData.Description !=''&&viewData.Description != null&&viewData.Description != undefined">
        <div class="appDescriptionTilte_m title_color">应用描述</div>
        <pre class="c_B3" ng-bind="viewData.Description">
        </pre>
    </div>
    <hr>
    <div class="screenshots appDescription_pc" ng-if="viewData.AppScreenshots.length>0">
        <div class="appDescriptionTilte_m title_color">应用截图</div>
        <div class="screenshotsBox">
            <ul>
                <li ng-repeat="img in viewData.AppScreenshots">
                    <img src="{{img.ScreenshotPath}}">
                </li>
            </ul>
        </div>
    </div>
</div>



