<div class="viewWrapper height100">
    <div class="height80">
        <div class="logoBox_m">
            <img class="logo_m" src="{{viewData.Icon}}" alt="">
        </div>
        <div class="t_a_c">
            <div class="appName_m title_color"><i class="fa" ng-class="{true: 'fa-android', false: 'fa-apple'}[isAndroid]"></i>&nbsp;&nbsp;<span ng-bind="viewData.AppName"></span></div>
        </div>
        <hr class="hr75">
        <div class="t_a_c downloadWrapper">
            <div class="c_B3 f_z_095">最新版本：<span ng-bind="Version.VersionNumber"></span>&nbsp;-&nbsp;<span ng-bind="iOSVersion.PackageSize"></span></div>
            <div class="c_B3 f_z_095">发布时间: <span ng-bind="Version.CreateDate|date : 'yyyy-MM-dd HH:mm:ss'"></span></div>
            <a ng-click="download(Version.VersionType,Version.DownloadUrl)" class="down t_a_c" href="javascript:;">下载安装</a>
            <!--<div style="height:2em;width: 2em;background-color: #222222;" ng-download="download(Version.VersionType,Version.DownloadUrl)"></div>-->
        </div>
    </div>
    <div class="versionsWrapper versionsWrapperW_m" ng-if="Version.UpgradeContent!=''&&Version.UpgradeContent!=null&&Version.UpgradeContent!=undefined">
        <div class="versionsBox_m">
            <!--<div>更新时间：2016-10-18 10:36<span></span></div>-->
            <div class="upgradeContentBox_m">
                <div class="title_color upgradeTitle"><b>更新日志</b></div>
                <pre class="c_B3" ng-bind="Version.UpgradeContent">
                </pre>
            </div>
        </div>
    </div>
    <!--<hr style="margin: -5em auto 2em;border-color: #e8e8e8;">-->
    <!--<div style=""></div>-->
    <div class="appDescription" ng-if="viewData.Description !=''&&viewData.Description != null&&viewData.Description != undefined">
        <div class="appDescriptionTilte_m title_color" style="">应用描述</div>
        <pre class="c_B3" ng-bind="viewData.Description">
        </pre>
    </div>
    <hr>
    <div class="screenshots appDescription" ng-if="viewData.AppScreenshots.length>0">
        <div class="appDescriptionTilte_m title_color">应用截图</div>
        <div style="overflow-x: scroll;max-width: 100%;">
            <ul>
                <li ng-repeat="img in viewData.AppScreenshots">
                    <img src="{{img.ScreenshotPath}}"
                         alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
